* {
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
button {
    border: none;
}
body {
    font-family: "Montserrat",sans-serif;
}
.main-container {
    width: 80%;
    margin: 0 auto;
}
#header {
    padding: 37px 0 80px 0;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav a {
    color: #2A2D46;
font-size: 12px;
font-weight: 400;
margin: 0  15px;
}
.header-nav a:hover {
    color: blue;
}
.header-nav .header-number {
    color: #212130;
font-size: 13px;
font-weight: 700;
}
.header-nav span {
     font-size: 26px;
    position: relative;
    top: 10px;
}
.header-nav button {
    color: #EB2D66;
font-size: 11px;
font-weight: 700;
width: 130px;
height: 30px;
border: 1px solid  #EB2D66;
background: white;
}
.header-price span {
    position: relative;
    top: 7px;
color: #EB2D66;
font-size: 30px;
} 
.header-price select {
    border: none;
    outline: none;
    color: #2A2D46;
font-size: 12px;
font-weight: 700;
}
.hero-text h1 {
    color: #2A2D46;
    font-size: 36px;
    font-weight: 900;
}
.hero-text p {
    color: #2A2D46;
font-size: 16px;
font-weight: 400;
line-height: 145.4%; /* 23.264px */
margin: 39px 0 63px 0;
}
.hero-text button {
    color: #FFF;
    font-size: 15px;
    font-weight: 900;
    width: 244px;
    height: 57px;
    background:#EB2D66;
    box-shadow: 0px 7px 35px 0px rgba(235, 45, 102, 0.35);
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.drone-text div {
    position: relative;
    top: -1px;
    left: -15px;
    width: 9px;
height: 9px;
background: #FFF;
}
.drone-text h1 {
    color: #FFF;
font-size: 15px;
font-weight: 900;
}
.drone-text p {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    margin:27px 0;
}
.drone-text h6 {
    color: #FFF;
font-size: 12px;
font-weight: 700;
}
.drone-fuger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}
.drone-kvad1 {
    width: 39px;
height: 8px;
background: rgba(255, 255, 255, 0.35);
}
.drone-kvad2 {
    width: 39px;
height: 8px;
background: #FFF;
}
/*.drone-icon span {
    width: 20px;
height: 17px;
stroke-width: 1px;
stroke: #1b0505;
}*/
.hero-bg {
    position: relative;
    right: -50px;
}
.drone {
    position: absolute;
    bottom: 17px;
    left: -153px;
}
.drone-text {
    position: absolute;
    bottom: 33px;
    right: 133px;
}
.drone-fuger {
    position: absolute;
    bottom: 17px;
    left: 44px;
}
 .drone-icon {
    position: absolute;
    bottom: 10px;
    right: 30px;
    color: white;
    font-size: 24px;
}
#cards {
    margin: 100px 0;
}
.cards-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 900px;
}
.cards-nav h1 {
    color: #2A2D46;
font-size: 25px;
font-weight: 900;
margin-right: 93px;
}
.cards-nav a {
    color: #2A2D46;
font-size: 13px;
font-weight: 400;
margin-right: 31px;
}
.cards-nav a:hover {
    color: #0C76D8;
font-size: 13px;
font-weight: 400;
}
.card {
    width: 211px;
height: 477px;
background: #FFF;
box-shadow: 0px 15px 50px 0px rgba(67, 76, 109, 0.08);
padding: 10px 40px;
margin-top: 40px;
}
.card h1 {
    color: #2A2D46;
font-size: 17px;
font-weight: 900;
}
.card-text h5 {
    color: #2C3BA0;
font-size: 12px;
font-weight: 400;
line-height: 154.9%; /* 18.588px */
margin-right: 10px;
}
.card-text p {
    color: #646986;
font-size: 12px;
font-weight: 400;
line-height: 154.9%; /* 18.588px */
}
.card-text {
    display: flex;
    align-items: center;
}
.card-icon {
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.card-icon h2 {
    color: #0C76D8;
font-size: 15px;
font-weight: 900;
margin-right: 90px;
}
.card-icon span {
    width: 20px;
height: 17px;
stroke-width: 1px;
color: #EB2D66;
font-size: 24px;
}
.card img {
    margin: 30px 0;
}
.cards-main {
    position: relative;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1230px;
}

#main-info {
    margin: 80px 0;
}
.info-icon span {
    width: 30px;
height: 35px;
color: #FFF;
font-size: 40px;
font-weight: 800;
}
.info-card,.info-text {
    color: #2A2D46;
font-size: 25px;
font-weight: 900;
}
.info-mod div {
    width: 23px;
height: 23px;
background: #FFF;
}
.info-card,.info-mod h5 {
    color: white;
font-size: 27px;
font-weight: 900;
line-height: 121.4%; /* 32.778px */
}
.info-mod p {
    color: #FFF;
font-size: 16px;
font-weight: 400;
margin-top: 8px;
}
.info-card {
    position: relative;
}
.info-icon {
    position: absolute;
    top: 55px;
    right: 95px;
}
.info-text {
    position: absolute;
top: 205px;
right: 148px;
}
.info-mod {
    position: absolute;
    top: 225px;
    left: 145px;
}
.info-mod div {
    position: relative;
bottom: 20px;
right: 53px;
}
.main-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info-icon1 span {
    width: 30px;
    height: 35px;
    color: #FFF;
    font-size: 40px;
    font-weight: 800;
}
.info-mod1 div {
    width: 23px;
height: 23px;
background: #FFF;
}
.info-card1,.info-mod1 h5 {
    color: #FFF;
font-size: 27px;
font-weight: 900;
line-height: 121.4%; /* 32.778px */
}
.info-mod1 p {
    color: #FFF;
font-size: 16px;
font-weight: 400;
margin-top: 8px;
}
.info-card1 {
    position: relative;
}
.info-icon1 {
    position: absolute;
    top:60px ;
    right: 60px;
}
.info-mod1 {
    position: absolute;
    right: 165px;
    bottom: 143px;
}
.info-mod1 div {
    position: relative;
    bottom: 20px;
    right: 37px;
}
.info-card1 {
    margin-left: -70px;
}
#about {
    margin: 70px 0;
}
.about-h1 {
    color:#2A2D46;
font-size: 25px;
font-weight: 900;
margin-bottom: 50px;
}
.about-sifra {
    display: flex;
    align-items: center;
}
.about-sifra h2 {
    color: #2A2D46;
font-size: 50px;
font-weight: 900;
margin-right: 22px;
}
.about-sifra p {
    color: #2A2D46;
font-size: 13px;
font-weight: 400;
}
.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footer {
    background: #343A62;
}
.footer-nav a {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    margin-right: 30px;
}
.footer-nav .header-number {
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
}
.footer-nav span {
    width: 18px;
    height: 4px;
    color: #FFF;}
    .footer-icon {
        width: 15px;
height: 20px;
stroke-width: 1px;
stroke: #FFF;
}
.footer-nav button {
    color: #EB2D66;
font-size: 11px;
width: 130px;
height: 30px;
background: #343A62;
}
.footer {
    display: flex;
    align-items: center;
    text-align: center;
}
.footer-nav {
    margin:80px 50px ;
}
.footer img {
    margin-left: 60px;
}